.Rproj.user
.Rhistory
.RData
.Ruserdata
fastq/*
scripts/01_alignment/slurm*
scripts/01_alignment/.snakemake/*
results/*
rObjects/*
PRJNA_fastq/*
cellbender/*
cellranger/*
fastq/*
nuclear_fraction/*
shiny_apps/*
scripts/TOM/*
cellbender_pdfs/*
scripts/.snakemake*
scripts/SRA_info/*
manuscript_figures/*
.DS_Store
LBD_snRNA.Rproj
scripts/ModuleNetworks/*